.btn{
    background: transparent;
    border: 2px solid #303030;
    color: #303030;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
}

.btn:hover{
    color:aliceblue;
    transition-duration: 0.25s;
    transform: translateY(-7px);
}